<% layout('layouts/boilerplate')%>
    <div id="cluster-map"></div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="my-4">All Records</h1>
            </div>
            <!-- <div class="col-4 offset-2">
                <form class="d-flex my-4">
                    <input class="form-control me-2" type="search" placeholder="Search Records" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div> -->
        </div>
    </div>
    <ul>
        <% for (let record of records){%>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">
                                Disease : <%= record.disease %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Symptoms : <%= record.symptoms%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/records/<%=record._id%>">View Record
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
    </ul>